
  @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Belanosima:wght@600&family=Bricolage+Grotesque&family=Dancing+Script:wght@700&family=Fraunces:wght@400;700&family=Freehand&family=Lobster&family=Manrope:wght@800&family=Merriweather:ital,wght@0,700;1,400;1,900&family=Montserrat:wght@400;500;600&family=Outfit:wght@200;400;700&family=Playfair+Display:wght@600&family=Playfair:wght@600&family=Raleway:wght@400;500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Belanosima:wght@600&family=Bricolage+Grotesque&family=Dancing+Script:wght@700&family=Fraunces:wght@400;700&family=Freehand&family=Lobster&family=Manrope:wght@800&family=Merriweather:ital,wght@0,700;1,400;1,900&family=Montserrat:wght@400;500;600&family=Mooli&family=Outfit:wght@200;400;700&family=Playfair+Display:wght@600&family=Playfair:wght@600&family=Raleway:wght@400;500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
:root{
    --background:#F7F7F2;
    --todo_background:#261C15;
    --font:#F7F7F2;
}
body{
    background-color:var(--background);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;

    
}
.box
{
    background-color: var(--todo_background);
    margin: 3rem;
    padding: 2rem 1.3rem;
    color:var(--font);
    font-size: 1.7rem;
    border: none;
    border-radius: 2rem;
}
h1
{
    padding: 1rem;
    margin-top: 2rem;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    text-align: center;
    
    border-radius: 1.5rem;
    
}
h2{
    background-color: var(--background);
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    color:var(--todo_background);

}
.update
{
    color: black;
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    background: linear-gradient(#FFC4EB,#FFE4FA,#F1DEDC);
}
.table
{
    color:var(--font);
}
.btn{
    background-color: #E4E6C3;
    color: var(--todo_background);
    font-size: 1.3rem;
    border: 1px solid var(--todo_background);
    transition: all 0.3s ease-in-out;
}
.btn:hover
{
    background-color:#ebf172 ;
    color: var(--todo_background);
    border: 1px solid var(--background);
}
.change{
    margin: 1rem;
    font-size: 1.5rem;
}
.ch_btn
{
    background-color:#261C15;
    color: var(--background);
    font-size: 1.5rem;
    border: 1px solid var(--background);
    transition: all 0.3s ease-in-out;

}
.ch_btn:hover
{
    background-color:#a8571d ;
    color: var(--background);
    border: 1px solid var(--background);

}
.red
{
    color:var(--todo_background);
    background-color: #E4E6C3;
    border: none;
}
